.margin{
    margin-left: 110px;
    padding-top: 2%;

   
}
.img-one{
    height:50%;
    width: 50%;
}
.img-two{
    height:100%;
    width: 100%;
}
.header{
    height: 100%;
    width:100%
}
.margin{
    margin-left: 110px;
    padding-top: 2%;

   
}
.flex-display{
    display: flex;
}

.header{
    height: 100%;
    width:100%
}
.bottom-cart{
    padding-top: 5%;
}
.text{
    padding-top: 10%;
    padding-left: 2%;
}
@media only screen and (max-width: 600px ) {
   
    .margin{
        
        padding-top: 2%;
    
       
    }
    .img-one{
        height:100%;
        width: 100%;
    }
    .img-two{
        height:100%;
        width: 100%;
    }
    .header{
        height: 100%;
        width:100%
    }
    .margin{
        margin-left: 0px;
        padding-top: 2%;
    
       
    }
    .flex-display{
        display: flex;
        flex-direction: column;
        
    }
    .bottom-cart{
        padding-top: 10%;
    }

    
  }

