.margin{
    margin-left: 110px;
    padding-top: 2%;

   
}
.img-one{
    height:50%;
    width: 50%;
}
.header{
    height: 100%;
    width:100%
}
.text{
    padding-left: 5%;
padding-top: 10%;
}
.bottom-cart{
    padding-top: 5%;
    
}
.font-size{
    font-size: 300%;
}
